{% extends 'passenger/base.html' %}
{% load static %}

{% block title  %}
Hire a taxi
{% endblock %}

{% block content %}

<!-- Recent destinations Start -->
<div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">
<form action="{% url 'hire-taxi' %}" method="post">
    {% csrf_token %}
    {% include 'partials/_messages.html' %}
        <div class="d-flex align-items-center justify-content-between mb-4">

            <h6 class="mb-0">Request Taxi For Hire</h6>

        </div>

    <div class="form-floating mb-3">
        <h6 class="text-white-50">Date for hire</h6>
        <div>
        <input type="date" name="date" class="text-body rounded py-3 w-100 mb-4" required>
        </div>
    </div>

    <div class="form-floating mb-3">

        <input type="number" name="days" class="form-control" id="floatingText" required>

        <label for="floatingText">Number of days for hire</label>

    </div>

    <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Send Request</button>
</form>
</div>

{% endblock %}
