{% extends 'base_auth.html' %}
{% load static %}

{% block content %}

<!-- Sign Up Start -->

        <div class="container-fluid">

            <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">

                <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">

                    <div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">

                        <div class="d-flex align-items-center justify-content-between mb-3">

                            <a href="#" class="">

                                <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>TaxiApp</h3>

                            </a>

                            <h3>Sign Up</h3>

                        </div>

                        <form action="{% url 'register' %}" method="post">
                            {% csrf_token %}
                            {% include 'partials/_messages.html' %}
                        <div class="form-floating mb-3">

                            <input type="text" name="name" class="form-control" id="floatingText" placeholder="jhondoe" required>

                            <label for="floatingText">Name</label>

                        </div>

                        <div class="form-floating mb-3">

                            <input type="text" name="surname" class="form-control" id="floatingText" placeholder="jhondoe" required>

                            <label for="floatingText">Surname</label>

                        </div>

                        <div class="form-floating mb-3">

                            <input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com" required>

                            <label for="floatingInput">Email address</label>

                        </div>

                        <div class="form-floating mb-4">

                            <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password" required>

                            <label for="floatingPassword">Password</label>

                        </div>

                          <div class="form-floating mb-4">

                            <input type="password" name="password1" class="form-control" id="floatingPassword" placeholder="Confirm Password" required>

                            <label for="floatingPassword">Confirm Password</label>

                        </div>

                        <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Sign Up</button>
                        </form>

                        <p class="text-center mb-0">Already have an Account? <a href="{% url 'login' %}">Log In</a></p>

                    </div>

                </div>

            </div>

        </div>

        <!-- Sign Up End -->

{% endblock %}

{% block scripts %}
<script src="{% static 'js/register.js'%}"></script>
{% endblock %}