{% extends 'owner/base.html' %}
{% load static %}

{% block title  %}
Hire Requests
{% endblock %}

{% block content %}
{% include 'partials/_messages.html' %}
<div class="container-fluid pt-4 px-4">

    <div class="bg-secondary text-center rounded p-4">

        <div class="d-flex align-items-center justify-content-between mb-4">

            <h6 class="mb-0">Hiring Requests</h6>

        </div>

        <div class="table-responsive">

            <table class="table text-start align-middle table-bordered table-hover mb-0">

                <thead>

                <tr class="text-white">

                    <th scope="col">Reference</th>

                    <th scope="col">Passenger Number</th>

                    <th scope="col">Made</th>

                    <th scope="col">Date For</th>

                    <th scope="col">Number of Days</th>

                    <th scope="col">Action</th>

                </tr>

                </thead>
                {% if page_obj %}
                <tbody>
                {% for hireRequest in page_obj %}
                <tr>
                    <td>{{hireRequest.reference}}</td>

                    <td>{{hireRequest.passenger.passenger_no}}</td>

                    <td>{{hireRequest.date}}</td>

                    <td>{{hireRequest.For}}</td>

                    <td>{{hireRequest.no_days}}</td>

                    <td><a class="btn btn-sm btn-primary" href="{% url 'request-edit' hireRequest.id %}">View</a></td>

                </tr>
                {% endfor %}
                </tbody>
                {% else %}
                <tr>
                    <td colspan="6">No Hire Requests found.</td>
                </tr>
                {% endif %}

            </table>

        </div>
        <div class="d-flex align-items-center justify-content-between mb-4 p-3">
            <div class="text-white">
            Showing page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
            </div>
            <ul class="pagination align-end float-end mr-auto">
            {% if page_obj.has_previous %}
            <li {% if page_obj.number == 1 %} class="page-item active" {% endif %}><a class="page-link" href="?page=1">&laquo; 1</a></li>
            <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}">Previous</a></li>
            {% endif %}

            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">Next</a></li>
            <li class="page-item"><a class="page-link" href="?page={{page_obj.paginator.num_pages}}">{{page_obj.paginator.num_pages}} &raquo;</a></li>
            {% endif %}
            </ul>

        </div>

    </div>

</div>

{% endblock %}